.bodyBackground {
    min-height:100%;
    background: linear-gradient(#e9c5c5, rgba(238, 234, 234, 0.25)), url(./assets/image/bg.jpg);
    background-size: auto;
    position: relative;
    vertical-align: baseline;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.8;
    padding: 50px;
}

.jumbotron h1 {
    font-size: 3.5rem;
}

.jumbotron{
    background-color: white;
}

.jumbotron li{
    font-size: 15px;
    text-align: left;
}

.jumbotron dt{
    font-size:20px;
}